/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
}
body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 2;
	font-weight: 400;
	background: #FFFFFF;
	color: #6e6e6e;
}


div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 2;
	font-weight: 400;
	color: #6e6e6e;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background: #fde0db;
	color: #ff4200;
}
p::selection
{
	background: #fde0db;
}
h1{font-size: 72px;}
h2{font-size: 30px;}
h3{font-size: 18px;}
h4{font-size: 14px;}
h5{font-size: 11px;}
h1, h2, h3, h4, h5, h6
{
	color: #282828;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
::-webkit-input-placeholder
{
	font-size: 16px !important;
	font-weight: 500;
	color: #777777 !important;
}
:-moz-placeholder /* older Firefox*/
{
	font-size: 16px !important;
	font-weight: 500;
	color: #777777 !important;
}
::-moz-placeholder /* Firefox 19+ */ 
{
	font-size: 16px !important;
	font-weight: 500;
	color: #777777 !important;
} 
:-ms-input-placeholder
{ 
	font-size: 16px !important;
	font-weight: 500;
	color: #777777 !important;
}
::input-placeholder
{
	font-size: 16px !important;
	font-weight: 500;
	color: #777777 !important;
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
	padding-left: 45px;
	padding-right: 45px;
}
.button
{
	width: 187px;
	height: 66px;
	background: #ff4200;
	overflow: hidden;
}
.button a
{
	display: block;
	width: 100%;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: 300;
	line-height: 66px;
	text-transform: uppercase;
	letter-spacing: 6.7px;
	
}
.button a img
{
	display: inline-block;
	width: 13px !important;
	height: 7px;
	margin-left: 4px;
}
.button a::after
{
	display: block;
	position: absolute;
	top: -50%;
	left: -70px;
	width: 60px;
	height: 200%;
	background: rgba(255,255,255,0.1);
	content: '';
	-webkit-transform: rotate(12.5deg);
	-moz-transform: rotate(12.5deg);
	-ms-transform: rotate(12.5deg);
	-o-transform: rotate(12.5deg);
	transform: rotate(12.5deg);
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
	z-index: 0;
}
.button a:hover::after
{
	left: calc(100% + 70px);
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.nopadding
{
	padding: 0px !important;
}


/*********************************
3. Header
*********************************/

.header
{
	position: fixed;
	top: 45px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 1318px;
	height: 104px;
	background: #FFFFFF;
	z-index: 10;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header.scrolled
{	
	top: 15px;
}
.header.scrolled .header_content::before
{
	box-shadow: 0px 20px 49px rgba(0,0,0,0.17);
}
.header_content
{
	width: calc(100% - 279px);
	height: 100%;
}
.header_content::before
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	box-shadow: 0px 20px 49px rgba(0,0,0,0.67);
	z-index: -1;
}

/*********************************
3.1 Logo
*********************************/

.logo_container
{
	display: inline-block;
	padding-left: 50px;
}
.logo span
{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 900;
	color: #3a3a3a;
	vertical-align: middle;
	text-transform: uppercase;
	margin-left: 3px;
    padding-left: 20px;
}

/*********************************
3.2 Main Nav
*********************************/

.main_nav_container
{
	display: inline-block;
	margin-left: auto;
	padding-right: 93px;
}
.main_nav
{
	margin-top: 7px;
}
.main_nav_item
{
	display: inline-block;
	margin-right: 40px;
}
.main_nav_item:last-child
{
	margin-right: 0px;
}
.main_nav_item a
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	color: #3a3a3a;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.main_nav_item a:hover
{
	color:#ff4200;
}
.main_nav_items li:hover
{
	background: #ff4200;
}

/*********************************
3.3 Header Side
*********************************/

.header_side
{
	width: 279px;
	height: 100%;
	background: #ff4200;
}
.header_side img
{
	width: 20px;
	height: 20px;
}
.header_side span
{
	display: block;
	position: relative;
	font-size: 18px;
	font-weight: 500;
	color: #FFFFFF;
	padding-left: 12px;
}

/*********************************
3.4 Hamburger
*********************************/

.hamburger_container
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 20px;
	display: none;
	cursor: pointer;
}
.hamburger_container i
{
	font-size: 24px;
	padding: 10px;
	color: #3a3a3a;
}
.hamburger_container:hover i
{
	color: #ff4200;
}


/*********************************
4. Menu
*********************************/

.menu_container
{
	position: fixed;
	top: 0;
	right: -50vw;
	width: 50vw;
	height: 100vh;
	background: #FFFFFF;
	z-index: 12;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-ms-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
	visibility: hidden;
	opacity: 0;
}
.menu_container.active
{
	visibility: visible;
	opacity: 1;
	right: 0;
}
.menu
{
	position: absolute;
	top:150px;
	left: 0;
	padding-left: 15%;
}
.menu_list
{
	-webkit-transform: translateY(3.5rem);
	-moz-transform: translateY(3.5rem);
	-ms-transform: translateY(3.5rem);
	-o-transform: translateY(3.5rem);
	transform: translateY(3.5rem);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 1000ms 600ms ease;
	opacity: 0;
}
.menu_container.active .menu_list
{
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
}
.menu_item
{
	margin-bottom: 9px;
}
.menu_item a
{
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
	font-weight: 700;
	color: #3a3a3a;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_item a:hover
{
	color: #ff4200;
}
.menu_close_container
{
	position: absolute;
	top: 86px;
	right: 79px;
	width: 21px;
	height: 21px;
	cursor: pointer;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.menu_close
{
	top: 9px;
	width: 21px;
	height: 3px;
	background: #3a3a3a;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_close::after
{
	display: block;
	position: absolute;
	top: -9px;
	left: 9px;
	content: '';
	width: 3px;
	height: 21px;
	background: #3a3a3a;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_close_container:hover .menu_close,
.menu_close_container:hover .menu_close::after
{
	background: #ff4200;
}

/*********************************
4.1 Menu Social
*********************************/

.menu_social_container
{
	margin-top: 100px;
	-webkit-transform: translateY(3.5rem);
	-moz-transform: translateY(3.5rem);
	-ms-transform: translateY(3.5rem);
	-o-transform: translateY(3.5rem);
	transform: translateY(3.5rem);
	-webkit-transition: all 1000ms 1000ms ease;
	-moz-transition: all 1000ms 1000ms ease;
	-ms-transition: all 1000ms 1000ms ease;
	-o-transition: all 1000ms 1000ms ease;
	transition: all 1000ms 1000ms ease;
	opacity: 0;
	padding-left: 4px;
}
.menu_social_item
{
	display: inline-block;
	margin-right: 30px;
}
.menu_social_item a i
{
	color: #3a3a3a;
}
.menu_social_item a i:hover
{
	color: #ff4200;
}
.menu_container.active .menu_social_container
{
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
}


/*********************************
3.4 Full Screen Menu
*********************************/

.menu_copyright
{
	margin-top: 60px;
	-webkit-transform: translateY(3.5rem);
	-moz-transform: translateY(3.5rem);
	-ms-transform: translateY(3.5rem);
	-o-transform: translateY(3.5rem);
	transform: translateY(3.5rem);
	-webkit-transition: all 1000ms 1200ms ease;
	-moz-transition: all 1000ms 1200ms ease;
	-ms-transition: all 1000ms 1200ms ease;
	-o-transition: all 1000ms 1200ms ease;
	transition: all 1000ms 1200ms ease;
	opacity: 0;
	padding-left: 3px;
}
.menu_container.active .menu_copyright
{
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
}


/*********************************
5. Home
*********************************/

.home
{
	width: 100%;
	height: 100vh;
}

/*********************************
5.1 Hero Slider
*********************************/

.hero_slider_container
{
	width: 100%;
	height: 100%;
}
.hero_slide
{
	width: 100%;
	height: 100%;
}
.hero_slide_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.hero_slide_container
{
	width: 100%;
	height: 100vh;
}
.hero_slide_content
{
	max-width: 80%;
	-webkit-transform: translateY(30px);
	-moz-transform: translateY(30px);
	-ms-transform: translateY(30px);
	-o-transform: translateY(30px);
	transform: translateY(30px);
}
.hero_slide_content h1
{
	font-size: 72px;
	font-weight: 400;
	color: #FFFFFF;
}
.hero_slide_content h1 span
{
	background: #ff4200;
	padding-left: 13px;
	padding-right: 13px;
	margin-left: -12px;
	margin-right: -12px;
}
.animated
{
	-webkit-animation-duration : 1s !important;
	animation-duration : 1s !important;
	-webkit-animation-delay : 500ms;
	animation-delay : 500ms;
}
.animate-out
{
	-webkit-animation-delay : 0ms;
	animation-delay : 0ms;
}

/*********************************
5.2 Hero Slider Navigation
*********************************/

.hero_slider_nav
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(calc(-50% + 30px));
	width: 58px;
	height: 58px;
	background: #FFFFFF;
	z-index: 9;
	cursor: pointer;
}
.hero_slider_nav:hover
{
	background: #ff4200;
}
.hero_slider_nav:hover span
{
	color: #FFFFFF;
}
.hero_slider_nav span
{
	display: block;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	color: #121212;
	line-height: 1;
}
.hero_slider_left
{
	left: 4.32%;
}
.hero_slider_right
{
	right: 4.32%;
}

/*********************************
6. Hero Boxes
*********************************/

.hero_boxes
{
	width: 100%;
	height: 0px;
	z-index: 9;
	padding-top: 0px;
}
.hero_boxes_inner
{
	position: absolute;
	top: -212px;
	left: 0;
	width: 100%;
}
.hero_box
{
	width: 100%;
	height: 161px;
	background: #ff4200;
	padding-left: 50px;
	cursor: pointer;
}
.hero_box:hover
{
	background: #ff4200;
}
.hero_box img
{
	width: 62px;
	height: auto;
	margin-top: -6px;
}
.svg path
{
	fill: #ff4200;
}
.hero_box svg
{
	width: 62px;
	height: auto;
}
.hero_box:hover svg path
{
	fill: #FFFFFF;
}
.hero_box_content
{
	padding-left: 13px;
	padding-top: 11px;
	margin-top: -6px;
}
.hero_box_title
{
	font-size: 24px;
	font-weight: 500;
	color: #FFFFFF;
	margin-bottom: 7px;
}
.hero_box_link
{
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	color: #FFFFFF;
	padding-left: 3px;
}
.hero_box_link:hover
{
	color: #1a1a1a;
}

/*********************************
5. Home Social
*********************************/

.home_social_container
{
	position: absolute;
	top: 110px;
	right: 0px;
	width: auto;
	height: 74px;
	background: #ff4200;
	z-index: 11;
	padding-right: 38px;
	padding-left: 45px;
}
.home_social li
{
	display: inline-block;
	margin-left: 10px;
}
.home_social li a
{
	width: 100%;
	height: 100%;
	padding: 10px;
}
.home_social li i
{
	font-size: 13px;
	color: rgba(255,255,255,0.6);
}
.home_social li:hover i
{
	color: rgba(255,255,255,1);
}
.owl-carousel .owl-item img
{
	width: auto !important;
}

/* Welcome Area CSS */



.hero-content h2 {
    color: #fff;
    font-size: 72px;
}

.hero-content h4 {
    color: #fff;
    margin-bottom: 0;
    padding-left: 5px;
}

.hero-search-form {
    margin-top: 0px;
    position: relative;
    z-index: 1;
}
.hero-search-form .nav-tabs {
    border-bottom: none;
}

.hero-search-form .nav-tabs .nav-link {
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: rgba(255,66,0,1);
    text-transform: uppercase;
    min-width: 100px;
    height: 44px;
    line-height: 44px;
    padding: 0;
    text-align: center;
}
.hero-search-form .nav-tabs .nav-link.active {
    color: #fff;
    background-color: rgba(255,66,0,1);
    border-color: transparent;
}

.hero-search-form .tab-content .tab-pane {
    padding: 35px;
    background-color: rgba(255,66,0,1)
        ;
}

.hero-search-form .tab-content .tab-pane h6 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 25px;
}
.hero-search-form .tab-content .tab-pane form .custom-select {
    height: 52px;
    border-radius: 0;
    padding: 0 80px 0 40px;
    color: #ff4200;
    font-size: 12px;
    font-weight: 600;
    border: none;
    margin-right: 10px;
}



/*********************************
8. Testimonials
*********************************/

.testimonials
{    margin-top: 0px;
	padding-top: 195px;
	z-index: 2;
}
.section_title_dark h2
{
	color: #1c1c1c;
}
.section_title_dark h2::before
{
	background: #ff4200;
}
.testimonials_container
{
	width: 100%;
    margin-top: 0px;
}
.testimonials_container_inner
{
	position: absolute;
	top: 28px;
	left: 0;
	width: 100%;
	height: calc(100% - 28px);
	box-shadow: 0 22px 35px rgba(0,0,0,0.28);
}
.testimonials_container_inner::before
{
	display: block;
	position: absolute;
	top: 35px;
	left: -35px;
	width: calc(100% + 70px);
	height: calc(100% - 70px);
	content: '';
	background: rgba(242,244,249,0.85);
	z-index: -1;
}
.testimonials_container_inner::after
{
	display: block;
	position: absolute;
	top: 70px;
	left: -85px;
	width: calc(100% + 170px);
	height: calc(100% - 140px);
	content: '';
	background: rgba(242,244,249,0.65);
	z-index: -2;
}
.testimonials_slider
{
	z-index: 10;
}
.testimonials_item
{
	padding-top: 28px;
	background: #FFFFFF;
}
.testimonials_content
{
	padding-left: 120px;
	padding-right: 120px;
	padding-bottom: 49px;
	padding-top: 120px;
	max-width: 100%;
}
.test_name
{
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.2em;
	color: #1c1c1c;
	text-transform: uppercase;
}
.test_title
{
	font-size: 15px;
	font-weight: 400;
	color: #ff4200;
	margin-top: -5px;
}
.test_quote
{
	font-size: 30px;
	line-height: 1;
	color: #ff4200;
	font-style: italic;
	margin-top: 15px;
}
.testimonials_content p
{
	max-width: 100%;
}
.testimonials_content p:first-of-type
{
	margin-top: -3px;
}
.test_user_pic
{
	position: absolute;
	top: -28px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 94px;
	height: 94px;
}

/*********************************
8.1 Testimonials Navigation
*********************************/

.test_slider_nav
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 48px;
	height: 48px;
	cursor: pointer;
	z-index: 10;
}
.test_slider_nav:hover
{
	background: #ff4200;
}
.test_slider_nav:hover i
{
	color: #FFFFFF;
}
.test_slider_nav i
{
	font-size: 18px;
	color: #ff4200;
}
.test_slider_nav_left
{
	left: -48px;
}
.test_slider_nav_right
{
	right: -48px;
}
/*********************************
15. Footer
*********************************/
/*--footer--*/

h3.tittle.cen.foot {
	font-weight: 300;
	margin-bottom: 1em;
}

footer {
	background: #0e0f10;
	background: #131314;
    
}
/*-- subscribe --*/

.subscribe-main {
	padding-bottom: 1em;
}
.footer-grid-agileits-w3ls img{
	width:100%;
}
.subscribe-head h4.sec-title {
	margin-bottom: 4px;
	letter-spacing: 3.8px;
	font-weight: 600;
}

.subscribe-head h6 {
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 600;
	color: #ff4200;
	letter-spacing: 4px;
}

.footer-grid-agileits-w3ls1 h3,.footer-grid-agileits-w3ls h3 {
	font-size: 1.3em;
    color: #ff4200;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
     position: relative;
}

.footer-grid-agileits-w3ls1 h3:after, .footer-grid-agileits-w3ls h3:after {
    position: absolute;
    content: "";
    background: #fff;
    height: 2px;
    width: 15%;
    left: 0%;
    bottom: -50%;
}
.footer-grid-agileits-w3ls1 p {
    color: #fff;
    font-size: 15px;
    outline: none;
     letter-spacing: 1px;
    line-height: 26px;
}
.footer-cpy.text-center {
    border-top: 1px solid;
}
.footer-grid-agileits-w3ls1 a {
    color: #646464;
    font-size: 16px;
    outline: none;
    letter-spacing: 1px;
}
.footer-grid-agileits-w3ls1 a:hover {
    color: #333;
}
.footer-grid-agileits-w3ls1 a.read {
    color: #aaa;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 12px 20px;
    display: inline-block;
    margin-top: 1.5em;
    background: rgba(241, 245, 249, 0.08);
}
.footer-grid-agileits-w3ls1 a.read:hover{
    background:#333 ;
    color: #ff4200;
}

.subscribe-main input[type="email"] {
	width: 100%;
	padding: 1em 1em;
     width: 100%;
	font-size: 15px;
	color: #666;
	outline: none;
    background: rgba(241, 245, 249, 0.08);
    -webkit-appearance: none;
    border: none;
	-webkit-appearance: none;
	letter-spacing: 2px;
	border-radius: 3px;
}

.subscribe-main input[type="email"]:focus {
    background: #fff;
}

.subscribe-form button.btn1 {
    color: #666;
    border: none;
    padding: 10px 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    background: none;
    background: none;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    position: absolute;
    right: 6%;
    bottom: 10%;
}

.subscribe-form form {
    width: 100%;
    position: relative;
}
.subscribe-main button[type="submit"]:hover ,.subscribe-main button[type="submit"]:active {
	color: #666;
	background: none;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
	background: none;
    border: none;
}

.instagram-posts {
	margin: 0 auto;
	width: 90%;
}

/*-- //subscribe --*/

/*--//footer--*/

/*--/copyright--*/

.copyrighttop {
	margin: 2em 0 0;
}

a.facebook {
	color: #fff;
    font-size: 13px;
    background: rgba(241, 245, 249, 0.08);
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
    border-radius: 3px;
}

a.facebook:hover {
    color: #333;
    background: #ccc;
}

.copyright {
	background: #141415;
	color: #fff;
	padding: 1em 0;
	border-top: 1px solid rgba(25, 24, 24, 0.58);
}

.w3layouts-agile-copyrightbottom p {
	color: #64686b;
	letter-spacing: 1px;
	line-height: 28px;
     font-size: 16px;
}

.copyrighttop li {
	list-style: none;
	display: inline-block;
	
}

.w3layouts-agile-copyrightbottom p a {
	color: #ccc;
}
.footer-grid-agileits-w3ls1 li {
    list-style-type: none;
    margin: 7px 0;
}
.footer-grid-agileits-w3ls1 ul li {
      color: #646464;
    font-size: 16px;
    outline: none;
    letter-spacing: 1px;
}
.footer-grid-agileits-w3ls li a{
	color:#ff4200;
	letter-spacing: 1px;
}
/*--// copyright-- */

.site-hero {
  background-size: cover;
  background-position: center center;
  min-height: 750px;
  height: 100vh;
}

.site-hero > .container {
  position: relative;
  z-index: 2;
}

.site-hero.overlay {
  position: relative;
}

.site-hero.overlay:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.site-hero.overlay h1 {
  font-size: 70px;
}

.site-hero.overlay h1, .site-hero.overlay p {
  color: #fff;
}

.site-hero .site-hero-inner {
  min-height: 750px;
  height: 100vh;
}

.site-hero-innerpage, .site-hero-innerpage .site-hero-inner {
  min-height: 550px;
  height: 50vh;
}

.site-section {
  padding: 7em 0;
}

.quick-info {
  position: relative;
  margin-top: -100px;
  z-index: 9;
}

.quick-info .bgcolor {
  background: #000;
  position: relative;
  padding: 50px 0 30px 0;
}

.quick-info .bgcolor:before {
  position: absolute;
  left: -100%;
  top: 0;
  content: "";
  height: 100%;
  width: 120%;
  background: #000;
}

.quick-info .media .icon-wrap {
  line-height: 0;
  top: 0;
}

.quick-info .media .icon-wrap span {
  font-size: 30px;
  color: #fff;
}

.quick-info .media .media-body h5 {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
  padding: 0;
}

.quick-info .media .media-body p {
  font-size: 15px;
}

.quick-info .media .media-body p:last-child {
  margin-bottom: 0;
}

.img-bg {
  background-size: cover;
}

@media (max-width: 991.98px) {
  .img-md-fluid {
    max-width: 100%;
  }
}

.feature-destination, .slider-wrap {
  position: relative;
  z-index: 10;
  margin-top: -50px;
  margin-bottom: 50px;
}

.feature-destination .img-bg, .slider-wrap .img-bg {
  margin-bottom: 30px;
  display: block;
  height: 300px;
  position: relative;
  top: 0;
  -webkit-transition: .2s all ease;
  -o-transition: .2s all ease;
  transition: .2s all ease;
}

.feature-destination .img-bg .custom-icon:before, .slider-wrap .img-bg .custom-icon:before {
  font-size: 34px;
  color: #fff;
}

.feature-destination .img-bg:before, .slider-wrap .img-bg:before {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: .1;
  position: absolute;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.feature-destination .img-bg .text, .slider-wrap .img-bg .text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 80%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.feature-destination .img-bg .text .icon, .slider-wrap .img-bg .text .icon {
  color: #fff;
  font-size: 30px;
  position: relative;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  top: 0;
}

.feature-destination .img-bg .text h2, .slider-wrap .img-bg .text h2 {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  top: 0px;
  position: relative;
}

.feature-destination .img-bg .text p, .slider-wrap .img-bg .text p {
  color: #fff;
  opacity: 0;
  top: 10px;
  visibility: hidden;
  font-size: 13px;
  position: relative;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.feature-destination .img-bg:hover, .feature-destination .img-bg:focus, .slider-wrap .img-bg:hover, .slider-wrap .img-bg:focus {
  top: -10px;
  -webkit-box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.4);
}

.feature-destination .img-bg:hover .text .icon, .feature-destination .img-bg:focus .text .icon, .slider-wrap .img-bg:hover .text .icon, .slider-wrap .img-bg:focus .text .icon {
  top: -10px;
}

.feature-destination .img-bg:hover .text h2, .feature-destination .img-bg:focus .text h2, .slider-wrap .img-bg:hover .text h2, .slider-wrap .img-bg:focus .text h2 {
  top: -10px;
}

.feature-destination .img-bg:hover .text p, .feature-destination .img-bg:focus .text p, .slider-wrap .img-bg:hover .text p, .slider-wrap .img-bg:focus .text p {
  top: 0;
  opacity: .5;
  visibility: visible;
}

.feature-destination .img-bg:hover:before, .feature-destination .img-bg:focus:before, .slider-wrap .img-bg:hover:before, .slider-wrap .img-bg:focus:before {
  opacity: .4;
}
.section-cover {
  background-size: cover;
  position: relative;
}

.section-cover.cta h2 {
  font-size: 60px;
}

.section-cover.cta h2 span {
  display: block;
  font-size: 30px;
}

.section-cover, .section-cover .intro {
  height: 500px;
}

.section-cover p {
  color: #fff;
}

.section-cover h2 {
  color: #fff;
}
.quick-info {
  position: relative;
  margin-top: -100px;
  z-index: 9;
}

.quick-info .bgcolor {
  background: #000;
  position: relative;
  padding: 50px 0 30px 0;
}

.quick-info .bgcolor:before {
  position: absolute;
  left: -100%;
  top: 0;
  content: "";
  height: 100%;
  width: 120%;
  background: #000;
}

.quick-info .media .icon-wrap {
  line-height: 0;
  top: 0;
}

.quick-info .media .icon-wrap span {
  font-size: 30px;
  color: #fff;
}

.quick-info .media .media-body h5 {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
  padding: 0;
}

.quick-info .media .media-body p {
  font-size: 15px;
}

.quick-info .media .media-body p:last-child {
  margin-bottom: 0;
}

.img-bg {
  background-size: cover;
}

@media (max-width: 991.98px) {
  .img-md-fluid {
    max-width: 100%;
  }
}
/*-- services-main --*/

.testimonials span {
    color: #fff;
}

/*-- welcome --*/

.about-wel h5 {
    font-size: 28px;
    letter-spacing: 1px;
}

.about-wel h5 span {
    color: #ff4200;
}

.about-wel p {
    color: #545151;
    margin: 16px 0 25px;
}

.about-wel ul li {
    list-style: none;
}

.about-wel ul li {
    color: #999;
    font-size: 14px;
    line-height: 1.9em;
    margin-top: 10px;
    letter-spacing: 1px;
}

.about-wel ul li i {
    margin-right: 12px;
    color: #ff4200;
}

.button-styles {
    margin-top: 35px;
}

.button-styles a {
    background: #000;
    color: #fff;
    padding: 12px 30px;
    letter-spacing: 1px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
	background-color: rgba(255,66,0,1);
    border-color: rgba(255,66,0,1);
    border-radius: 30px;
}

.button-styles a:hover {
    background: #000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

a.button2-w3l {
    background-color: #ff4200;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

a.button2-w3l:hover {
    background: #000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

/*-- //services-main --*/



/*********************************
9. Why Choose Us - Accordions
*********************************/

.grouped_sections
{
	width: 100%;
	background: #FFFFFF;
	padding-top: 89px;
	padding-bottom: 100px;
}
.grouped_title
{
	font-size: 30px;
	font-weight: 600;
	color: #44425a;
}
.accordions
{
	margin-top: 58px;
}
.accordion_container:not(:last-child)
{
	margin-bottom: 14px;
}
.accordion
{
	height: 50px;
	width: 100%;
	background: #f2f1f8;
	padding-left: 24px;
	cursor: pointer;
	color: #44425a;
	font-size: 16px;
	font-weight: 600;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.accordion div
{
	max-width: 90%;
	overflow: hidden;
	white-space: nowrap;
}
.accordion:active
{
	background: #fffbfa !important;
}
.accordion::after
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 12px;
	width: 23px;
	height: 23px;
	background: #ff6600;
	content: '+';
	font-size: 16px;
	color: #FFFFFF;
	font-weight: 600;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.accordion.active::after
{
	content: '-';
}
.accordion:hover::after
{
	color: #FFFFFF;
}
.accordion:hover
{
	background: #e9e8ef;
}
.accordion_panel
{
	padding-right: 8px;
	max-height: 0px;
	overflow: hidden;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.accordion_panel > div
{
	padding-bottom: 11px;
}
.accordion_panel p
{
	padding-top: 33px;
	color: #6c6a74;
	line-height: 2.2;
}
/*********************************
10. Events
*********************************/

.events
{
	width: 100%;
	margin-top: 58px;
}
.event
{
	width: 100%;
}
.event:not(:last-child)
{
	margin-bottom: 20px;
}
.event_date
{
	width: 63px;
	height: 63px;
	background: #ff6600;
}
.event_day
{
	font-size: 26px;
	font-weight: 500;
	color: #FFFFFF;
	line-height: 0.75;
}
.event_month
{
	font-size: 10px;
	font-weight: 400;
	color: #FFFFFF;
	line-height: 0.75;
	margin-top: 10px;
}
.event_title a
{
	font-size: 16px;
	font-weight: 600;
	color: #44425a;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.event_body
{
	padding-left: 34px;
	-webkit-transform: translateY(-5px);
	-moz-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	-o-transform: translateY(-5px);
	transform: translateY(-5px);
}
.event_title a:hover
{
	color: #ff6600;
}
.event_subtitle
{
	font-size: 14px;
	font-weight: 500;
	color: #6c6a74;
	margin-top: 5px;
}

/*********************************
11. News
*********************************/

.news
{
	width: 100%;
	margin-top: 58px;
}
.news_post
{
	width: 100%;
}
.news_post:not(:last-child)
{
	margin-bottom: 39px;
}
.news_post_image
{
	width: 72px;
	height: 72px;
}
.news_post_image img
{
	max-width: 100%;
}
.news_post_body
{
	padding-left: 25px;
}
.news_post_date
{
	font-size: 12px;
	font-weight: 600;
	color: #ff5c00;
	line-height: 0.75;
}
.news_post_title
{
	margin-top: 10px;
}
.news_post_title a
{
	font-size: 16px;
	font-weight: 600;
	color: #44425a;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.news_post_title a:hover
{
	color: #ff6600;
}
.news_post_author
{
	margin-top: 5px;
}
.news_post_author,
.news_post_author a
{
	font-size: 14px;
	font-weight: 500;
	color: #6c6a74;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.news_post_author a:hover
{
	color: #ff6600;
}
/*********************************
13. Join
*********************************/

.join
{
	width: 100%;
	background: #FFFFFF;
	padding-top: 91px;
	padding-bottom: 82px;
	text-align: center;
}
.join .section_subtitle
{
	margin-top: 36px;
}
.join_button
{
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: -24px;
}


.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border-radius: 12px
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 1.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}